@font-face {
    font-family: YtMedium;
    src: url('./youtube-sans-medium.ttf');
}

.stats__bg {
    background: #caae8d;
}

.header__bg {
    background: #c48a47;
}

.header__logo {
    color: #fff;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: YtMedium;
    font-size: 25px;
}


.products__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.products__arw {
    top: 93% !important;
}

.newitem__bg {
    background: #f5e1c9;
}

.testi__img {
    height: 60px;
    width: 60px;
    border: 1px solid #151515;
    border-radius: 50%;
}

.newitem__img {
    border-radius: 5px;
}

.feature2__buynow {
    display: flex;
    border: 2px solid #151515;
    width: max-content;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.20s;
}

.feature2__buynow:hover {
    background-color: #151515;
    color: #ffffff;
}

.feature2__wa {
    font-size: 35px;
}

img.about__img {
    border-radius: 10px;
    width: 100%;
}

.newsletter__item {
    justify-content: center;
    display: grid;
}

.newsletter__judul {
    font-size: 30px;
}

.footer__icon:hover {
    color: #151515;
}

.img2 {
    position: relative;
    top: 52%;
}

.feature__img1 {
    height: 250px;
    left: 52%;
    position: relative;
}

.feature__img4 {
    height: 250px;
}




.products__produk {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.products__produk * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.products__produk h3 {
    border: 2px solid #fefefe;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.products__produk h3:hover {
    color: #000000;
    background-color: #fff;
}

.products__produk:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.products__produk:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.products__produk img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.products__produk figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
}

.products__produk:hover>img,
.products__produk.hover>img {
    opacity: 0.5;
}

.products__produk:hover:before,
.products__produk.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.products__produk:hover:after,
.products__produk.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.products__produk:hover figcaption,
.products__produk.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.newsletter__location {
    width: 400px;
    height: 500px;
    border: 0;
}

@media only screen and (max-width: 800px) {
    .newsletter__location {
        width: 300px;
        height: 450px;
    }
}

@media only screen and (max-width: 300px) {
    .newsletter__location {
        width: 250px;
        height: 350px;
    }
}

.feature__item {
    min-height: 200px;
    min-width: 200px;
}


.products__main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products__btn {
    margin-top: 5px;
    display: flex;
    position: relative;
    justify-content: center;
}

.products__order {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
}

.products__order:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000;
    transition: 0.25s;
}

.products__wa {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}





.admin__back {
    background: transparent;
    position: relative;
    display: flex;
    height: 80px;
}

.admin__backadmin {
    background: transparent;
    position: relative;
    display: flex;
}

.admin__add {
    background: transparent;
    position: relative;
    display: flex;
}

.admin__backbutton {
    background: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 20px;
}

.admin__addbutton {
    background: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.admin__backname {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.admin__backname {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.admin__buttonsave {
    background: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.admin__buttonsave:hover {
    background-color: #000000;
    color: #fff;
}

.admin__mainform {
    min-height: 89vh;
}

.admin__mainformedit {
    background: #ffffff;
    height: auto;
}

.admin__childform {
    position: relative;
    display: block;
    border-radius: 10px;
    margin-bottom: -50px;
    height: 450px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.admin__head {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.admin__inputimage {
    display: flex;
    position: relative;
    justify-content: center;
    width: 16em;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: transparent;
    margin-left: 50px;
    color: #000000;
}

.admin__mainpreview {
    height: 120px;
    width: 120px;
    position: relative;
    justify-content: center;
    display: flex;
}

.admin__inputlink {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    padding: 5px;
    padding-left: 10px;
    background: #fff;
    color: #000000;
    border: 2px solid #5d00ff;
}

.admin__deskripsi {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 300px;
    padding: 5px;
    padding-left: 10px;
    background: #fff;
    color: #000000;
    border: 2px solid #5d00ff;
}




.products__search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #4f4f4f;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #737373;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    padding-left: 7px;
    width: 40px;
    height: 40px;
    border: 2px solid #4f4f4f;
    background: #4f4f4f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.products__wrap {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin__button {
    display: block;
}

@media only screen and (max-width: 800px) {
    .products__wrap {
        width: 80%;
    }

    .admin__button {
        display: flex;
        height: 100px;
        justify-content: space-between;
    }
}



.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
}

.pagination a:hover {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #000;
    transition: 0.25s;
}

.pagination-link {
    font-weight: bold;
}

.pagination-link-active {
    color: #fff !important;
    background: #000000;
    padding: 8px;
    padding-right: 13px;
    padding-left: 13px;
}

.pagination-link-disabled {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
    padding: 8px;
    padding-right: 13px;
    padding-left: 13px;
}